
	/* -------------------------------------------------- */
	/*	Projects Carousel
	/* -------------------------------------------------- */

	.no-js .projects-carousel, .no-js .post-carousel {
		border-top: 1px solid #efefef;
		margin: 15px -20px 60px 0;
		padding: 25px 0 0;
	}
		
		.projects-carousel > li, .post-carousel > li, #portfolio-items > article {
			float: left;
			list-style: none;
			margin: 0 20px 0 0;
			overflow: hidden;
			position: relative;
		}
		
		.projects-carousel > li, .post-carousel > li { width: 220px; }

		.projects-carousel, #portfolio-items { font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; }
		
		.no-js .post-carousel > li {
			display: inline-block;
			float: none;
		}

		.no-js .projects-carousel > li, .no-js #portfolio-items > article { margin-bottom: 40px; }

		.projects-carousel a, #portfolio-items article a {
			border-bottom: 1px solid #efefef;
			display: block;
			text-align: center;
		}
		
		.projects-carousel a { padding: 20px 0 0; }

		#portfolio-items article a, #portfolio-items article .audio-player, #portfolio-items article .video-player { margin: 0 auto; }

			.projects-carousel img, #portfolio-items article img {
				background-color: #fff;
				margin: 0 auto -5px;
				filter: alpha(opacity=70); /* Fallback for old IE */
				opacity: 0.7;
			}

			.no-js .projects-carousel img, .no-js #portfolio-items article img { margin-bottom: 0; }

			.projects-carousel img { margin: -25px auto 20px; }

			.projects-carousel .title, #portfolio-items > article .title {
				font-weight: 400;
				margin-bottom: 0;
			}

			.projects-carousel > li .categories, #portfolio-items > article .categories {
				color: #aeaeae;
				display: block;
				font-style: italic;
				margin: -1px 0 20px;
			}

			.projects-carousel a:hover, #portfolio-items > article:hover {
				background: #f8f8f8;
				border-bottom: 1px solid #f15a23;
			}

			.not-ie .projects-carousel a:hover:after, .not-ie #portfolio-items > article:hover:after {
				background: #f15a23;
				bottom: -2.5px;
				content: '';
				left: 50%;
				display: block;
				height: 5px;
				margin: 0 0 0 -2.5px;
				-webkit-transform: rotate(45deg);
				   -moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					 -o-transform: rotate(45deg);
						transform: rotate(45deg);
				position: absolute;
				width: 5px;
			}

			.projects-carousel a:hover img, #portfolio-items > article:hover img {
				filter: alpha(opacity=100); /* Fallback for old IE */
				opacity: 1;
			}

			.projects-carousel a:hover .title, #portfolio-items > article:hover .title { color: #f15a23; }

	/* -------------------------------------------------- */
	/*	Post Carousel
	/* -------------------------------------------------- */
		
	.post-carousel .entry-meta {
		float: left;
		font-style: italic;
		letter-spacing: -0.5px;
		line-height: 1.3;
		margin: 0 12px 0 0;
		text-align: center;
		width: 33px;
	}
	
		.post-carousel .entry-meta a {
			display: block;
			font-style: normal;
		}
		
		.post-carousel li .post-format { margin: 0; }

		.post-carousel li .date {
			display: block;
			margin: 8px 0 0;
		}
					
		.post-carousel .entry-body .title {
			font-size: 14px;
			font-weight: 400;
			margin: 0 0 10px 0;
		}
	
	.post-carousel .entry-body {
		float: right;
		margin: 0;
		width: 175px;
	}

	.post-carousel .entry-image, .post-carousel .entry-video, .post-carousel .entry-audio, .post-carousel .fluid-width-video-wrapper {
		margin-bottom: 15px;
		max-width: 100%;
		width: 100%;
	}

	.post-carousel .entry-video, .post-carousel .entry-audio, .post-carousel .fluid-width-video-wrapper { margin-bottom: 15px; }

	.touch-device .post-carousel .entry-audio { margin-top: -8px; }

	/* Image Gallery Slider */

	.post-carousel .image-gallery-slider { margin-bottom: 15px; }

		.post-carousel .image-gallery-slider li { margin: 0; }

			.post-carousel .image-gallery-slider img { margin-bottom: 0; }

	/* -------------------------------------------------- */
	/*	Projects & Post Carousel Navigation
	/* -------------------------------------------------- */

	.jcarousel-container {
		border-top: 1px solid #efefef;
		margin: 45px -20px 80px 0;
		max-width: 100%;
		padding: 25px 0 0;
	}

	.section-title + .jcarousel-container { margin-top: 15px; } 
	
		.jcarousel-clip {
			overflow: hidden;
			width: 100%;
		}

			.jcarousel-item {
				margin: 0 20px 0 0;
				width: 220px;
			}

		.jcarousel-next, .jcarousel-prev {
			background: #ddd url(/assets/ipad/images/button-arrows.png) no-repeat 0 0;
			cursor: pointer;
			height: 19px;
			position: absolute;
			right: 0;
			top: -35px;
			width: 19px;
		}

		.jcarousel-prev {
			background-position: 0 -19px;
			right: 20px;
		}

			.jcarousel-next:hover, .jcarousel-next:focus, .jcarousel-next:active,
			.jcarousel-prev:hover, .jcarousel-prev:focus, .jcarousel-prev:active {
				background-color: #f15a23;
			}

			.jcarousel-next-disabled, .jcarousel-next-disabled:hover,
			.jcarousel-next-disabled:focus, .jcarousel-next-disabled:active,
			.jcarousel-prev-disabled, .jcarousel-prev-disabled:hover,
			.jcarousel-prev-disabled:focus, .jcarousel-prev-disabled:active {
				background-color: #eee !important;
				cursor: auto !important;
			}