body{
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
background: no-repeat;
background-position:top;	 
background-color: #0E3828;
}

html, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption  {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body, td, th {
font-family: Tahoma,Verdana,Arial,sans-serif;
font-size: 10pt;
}

a:link {
color: #FFFFFF;
text-decoration: none;
}
a:visited {
text-decoration: none;
color: #FFFFFF;
}
a:hover {
text-decoration: underline;
color: #FFCC00;
}
a:active {
text-decoration: none;
color: #FFFFFF;
}

#container{
width:1000px;
height:650px;
position: absolute;
left: 50%;
margin-left: -500px;
}

#container_multimedia{
width:1012px;
height:650px;
position: absolute;
left: 50%;
margin-left: -506px;
}

hr {
border: 0;
background-color:#DDDDDD;
height: 1px;
width: 100%;
text-align: left;
margin: 5px;
color:#c5c5c5;
}


#header{

}
#rightCont{
float:right;
width:800px;	
}
#logo{
float:left;
width:177px;
height:198px;
background-image:url(/assets/site/images/logo.png);
behavior: url(iepngfix.htc);
cursor:hand;
cursor:pointer;
}
#logo2{
position:absolute;
float:left;
width:177px;
height:201px;
background-image:url(images/logo.png);
behavior: url(iepngfix.htc);
cursor:hand;
cursor:pointer;
}
#menu{
width:700px;
height:50px;
}
#topic{
width:350px;	
background:#FFFFFF;
background:url(/assets/site/images/bgTopic.png) no-repeat;
text-align:left;
padding:10px 10px 5px 10px;
}
#topic2{
width:530px;
height:600px;
background:#FFFFFF;
padding:10px 10px 5px 10px;
overflow : scroll;
filter:alpha(opacity=85);
-moz-opacity:.85;opacity:.85;
}

#topic2 a:link {
color: #000000;
text-decoration: none;
}
#topic2 a:visited {
text-decoration: none;
color: #000000;
}
#topic2 a:hover {
text-decoration: none;
color: #FFCC00;
}
#topic2 a:active {
text-decoration: none;
color: #000000;
}

#content{
height:220px;
background:url(/assets/site/images/bg_Brown.png);
filter:alpha(opacity=80);
padding-bottom:5px;
}
#contentBook{
height:350px;
background:url(images/bg_brown.png);
filter:alpha(opacity=80);
padding-bottom:5px;
}
#tree{
width:100%;	
}
#buttomMenu{
background:url(/assets/site/images/bg_Green.png);
width:100%;
height:auto;
behavior: url(iepngfix.htc);
margin-top:5px;
text-align:center;
}
.m{
vertical-align:middle;
color:#FFFFFF;
font-size:12px;
font-family:Microsoft Sans Serif;
padding-left:7px;
padding-right:7px;
}
/*
title of page
*/

.pageTitle
{
font-family: Tahoma,Verdana,Arial,sans-serif;
font-size: 14pt;
font-weight:bold;
}


/*Grid pager*/
.gridRowPager
{
font-size:14px;
background-repeat:repeat-x;
height:25px;
background-image:url('img/gridRowPagerBG.png'); 
}
.gridRowPager a
{
width:20px;
height:20px;
}
.gridRowPager span
{
font-weight:bold; 
color:#FFCC00;
/*background-image:url('img/calendarDayNormal.png');
background-repeat:repeat-x;   
background-color:#eeeeee; */
}

.footerfont {
font-family: Tahoma,Verdana,Arial,sans-serif;
font-size: 10pt;
color : White;
}

.pagerhi
{
padding: 2px 5px 2px 5px;
border: 1px solid chocolate;
font-weight: bold;
font-size: 10pt;
font-family:  Tahoma, Verdana,Arial;
color: #d2691e;
background-color: #ffffff;
text-align:center;
cursor: hand;
width : 18px; 
}

.pagerlo
{
padding: 2px 5px 2px 5px;
border: 1px solid #cdcdcd; 
font-weight: bold;
font-size: 10pt;
font-family:  Tahoma, Verdana,Arial;
color: #707070;
background-color: #ffffff;
text-align:center;
cursor: hand;
width : 18px; 
}

.pagerlink
{
padding: 2px 5px 2px 5px;
border:1px solid #cdcdcd;
background-color: #ffffff;
text-align:center;
cursor: hand;
width : 80px; 
}


/*!
 * http://docs.jquery.com/UI/Dialog#theming
 */


.ui-dialog { position: absolute; padding: .2em; width: 600px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }*/
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }