/* Some basic settings */
h1, h1 .button { font-size: 32px; }
h2, h2 .button { font-size: 28px; }
h3, h3 .button { font-size: 17px; }
h4, h4 .button { font-size: 15px; }
h5, h5 .button { font-size: 14px; }
h6, h6 .button { font-size: 12px; }
small { font-size: 10px; }
ol { list-style: decimal; }
ul { list-style: disc; }
li { margin-left: 30px; }
img { margin-bottom: 5px; }
dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,blockquote,article,p { margin-bottom: 20px; }

/* ---------------------------------------------------------------------- */
/*	Basic Elements & Classes
/* ---------------------------------------------------------------------- */

body {
	background: #F4F4F4;
	border-top: 6px solid #8e7f60;
	color: #909090;
	font: 12px/1.7 'Lucida Sans Unicode', 'Lucida Grande',tahoma,verdana,arial,sans-serif;
}

a, a > * {
	color: #3a3a3a;
	text-decoration: none;
	-webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	   -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	    -ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	     -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	        transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}

a:hover, a > *:hover { color: #8e7f60; }
/* ---------------------------------------------------------------------- */
/*	Header
/* ---------------------------------------------------------------------- */

#header {
	border-bottom: 1px solid #efefef;
	height: 86px;
	z-index: 97;
}

	#logo {
		float: left;
		height: 86px;
	}
	
	/* -------------------------------------------------- */
	/*	Wrap
	/* -------------------------------------------------- */

	.container {
	margin: 0 auto;
	position: relative;
	width: 940px;
	}
	
		/* -------------------------------------------------- */
	/*	Columns
	/* -------------------------------------------------- */

	.one-half, .one-third, .two-third, .one-fourth, .three-fourth {
		float: left;
		margin-right: 20px;
	}

	.one-half.last, .one-third.last, .two-third.last, .one-fourth.last, .three-fourth.last { margin-right: 0px; }

	.one-half { width: 460px; }

	.one-third { width: 300px; }

		.two-third { width: 620px; }

	.one-fourth { width: 220px; }

		.three-fourth { width: 700px; }


/*------------Banner---------------*/

/* ---------------------------------------------------------------------- */
/*	Content
/* ---------------------------------------------------------------------- */

#content { padding-top: 40px; }


/* ---------------------------------------------------------------------- */
/*	Footer
/* ---------------------------------------------------------------------- */

#footer {
	background: #3a3a3a;
	color: #868686;
	margin-top: 80px;
	padding: 35px 0 30px;
	position: relative;
}


/*new*/
.section-title {
		font-weight: 800;
		text-transform: uppercase;
	}
/* -------------------------------------------------- */
	/*	Projects & Post Carousel Navigation
	/* -------------------------------------------------- */

	.jcarousel-container {
		border-top: 1px solid #efefef;
		margin: 45px -20px 80px 0;
		max-width: 100%;
		padding: 25px 0 0;
	}

	.section-title + .jcarousel-container { margin-top: 15px; } 
	
		.jcarousel-clip {
			overflow: hidden;
			width: 100%;
		}

			.jcarousel-item {
				margin: 0 20px 0 0;
				width: 220px;
			}

		.jcarousel-next, .jcarousel-prev {
			background: #ddd url(/assets/site/images/button-arrows.png) no-repeat 0 0;
			cursor: pointer;
			height: 19px;
			position: absolute;
			right: 0;
			top: -35px;
			width: 19px;
		}

		.jcarousel-prev {
			background-position: 0 -19px;
			right: 20px;
		}

			.jcarousel-next:hover, .jcarousel-next:focus, .jcarousel-next:active,
			.jcarousel-prev:hover, .jcarousel-prev:focus, .jcarousel-prev:active {
				background-color: #8e7f60;
			}

			.jcarousel-next-disabled, .jcarousel-next-disabled:hover,
			.jcarousel-next-disabled:focus, .jcarousel-next-disabled:active,
			.jcarousel-prev-disabled, .jcarousel-prev-disabled:hover,
			.jcarousel-prev-disabled:focus, .jcarousel-prev-disabled:active {
				background-color: #eee !important;
				cursor: auto !important;
			}
/**/
		.projects-carousel a { padding: 20px 0 0; }
.projects-carousel img { margin: -25px auto 20px; }

			.projects-carousel .title, #portfolio-items > article .title {
				font-weight: 400;
				margin-bottom: 0;
			}

			.projects-carousel > li .categories, #portfolio-items > article .categories {
				color: #aeaeae;
				display: block;
				font-style: italic;
				margin: -1px 0 20px;
			}

			.projects-carousel a:hover, #portfolio-items > article:hover {
				background: #f8f8f8;
				border-bottom: 1px solid #8e7f60;
			}
			
					
	/* -------------------------------------------------- */
	/*	Projects Carousel
	/* -------------------------------------------------- */

	.no-js .projects-carousel, .no-js .post-carousel {
		border-top: 1px solid #efefef;
		margin: 15px -20px 60px 0;
		padding: 25px 0 0;
	}
		
		.projects-carousel > li, .post-carousel > li, #portfolio-items > article {
			float: left;
			list-style: none;
			margin: 0 20px 0 0;
			overflow: hidden;
			position: relative;
		}
		
		.projects-carousel > li, .post-carousel > li { width: 220px; }

		.projects-carousel, #portfolio-items { font-family: 'Lucida Sans Unicode', 'Lucida Grande',tahoma,verdana,arial,sans-serif; }
		
		.no-js .post-carousel > li {
			display: inline-block;
			float: none;
		}

		.no-js .projects-carousel > li, .no-js #portfolio-items > article { margin-bottom: 40px; }

		.projects-carousel a, #portfolio-items article a {
			border-bottom: 1px solid #efefef;
			display: block;
			text-align: center;
		}
		
		.projects-carousel a { padding: 20px 0 0; }

		#portfolio-items article a, #portfolio-items article .audio-player, #portfolio-items article .video-player { margin: 0 auto; }

			.projects-carousel img, #portfolio-items article img {
				background-color: #fff;
				margin: 0 auto -5px;
				filter: alpha(opacity=70); /* Fallback for old IE */
				opacity: 0.7;
			}

			.no-js .projects-carousel img, .no-js #portfolio-items article img { margin-bottom: 0; }

			.projects-carousel img { margin: -25px auto 20px; }

			.projects-carousel .title, #portfolio-items > article .title {
				font-weight: 400;
				margin-bottom: 0;
			}

			.projects-carousel > li .categories, #portfolio-items > article .categories {
				color: #aeaeae;
				display: block;
				font-style: italic;
				margin: -1px 0 20px;
			}

			.projects-carousel a:hover, #portfolio-items > article:hover {
				background: #f8f8f8;
				border-bottom: 1px solid #8e7f60;
			}

			.not-ie .projects-carousel a:hover:after, .not-ie #portfolio-items > article:hover:after {
				background: #8e7f60;
				bottom: -2.5px;
				content: '';
				left: 50%;
				display: block;
				height: 5px;
				margin: 0 0 0 -2.5px;
				-webkit-transform: rotate(45deg);
				   -moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					 -o-transform: rotate(45deg);
						transform: rotate(45deg);
				position: absolute;
				width: 5px;
			}

			.projects-carousel a:hover img, #portfolio-items > article:hover img {
				filter: alpha(opacity=100); /* Fallback for old IE */
				opacity: 1;
			}

			.projects-carousel a:hover .title, #portfolio-items > article:hover .title { color: #8e7f60; }
/*end new*/


.wpbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:14px;
	width:252px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.classname:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
/*form etipitaka*/
#searchForm{
	/* The search form. */
	background-color:#4C5A65;
	padding:10px 10px 10px;
	margin:0;
	position:relative;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	width:600px;
	margin-bottom: 20px;
}


fieldset{
	border:none;
}

#s{
	/* The search text box. */
-webkit-appearance: none;

	border:none;
	color:#888888;
	background:url("/assets/images/searchBox370.png") no-repeat;

	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	height:36px;
	line-height:36px;
	margin-right:12px;
	outline:medium none;
	padding:0 0 0 35px;
	text-shadow:1px 1px 0 white;
	width:370px;
}

#submitButton{
	background:url('/images/buttons.png') no-repeat;
	width:83px;
	height:36px;
	text-indent:-9999px;
	overflow:hidden;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
}

#submitButton:hover{
	background-position:left bottom;
}

.one-avatar{ background:url('/assets/images/etipitaka-avatar.png') no-repeat; width: 80px; height:80px; float:left; margin-right:5px;}
.one-form{width: 500px; float:left;}

/*end etipitaka*/