/*--------- Default ----------*/
body {
  padding:0px;
  margin:0px;
  background-color:#eee;
  font-family:Tahoma;
  font-size:12px;

}

html, body, td, div, input, select, textarea { 	
  font:12px Tahoma;
}

.newspic {
  width: 150px;
}

.newsmessage {
  font-size:17px;
}

#flag {
  height: 24px;
  width: 270px;
}

.line_27 {
  line-height: 27px;
}
/*---------Link ----------*/
a, a:hover		{ text-decoration:none; }
a {
  color: #960;
  text-decoration: none;
}

a:hover, a:focus {
  outline: none;
  text-decoration: none;
}

p {
  color: #393939;
}

.left, .alignleft {
  float: left;
}

.clear {
  clear:both;
}
/*---------Element ----------*/
.clear {
  clear:both;
}
.float-left    { float:left; }
.float-right   { float:right;}

.text-left     { text-align:left; }
.text-right    { text-align:right; }
.text-center   { text-align:center; }
.text-justify  { text-align:justify; }

/**-----------Stream--------------/


/*
form {
   margin:0;
   padding:0;
   display:inline;
}
*/
img { border:0; } 

.padding-space{height:10px; }
#false_header{width:980px; padding-top:5px; padding-bottom:5px; }
#top_header{width:980px; margin:0 auto; }
#content_wraper{
  padding-top:10px;
  padding-bottom:10px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 980px;
  background-color: #FFF;

}
#content_wraper_slider{
  padding-top:10px;
  padding-bottom:10px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 980px;
  height: 490px;
  background-color: #FFF;
}
#content{widht:960px; padding-top:10px; padding-left:10px}

.cursor{cursor:Pointer;}

/*content-big*/

#left-content{
  width:670px; padding-left:10px;
}
#right-content{width:290px; padding-left:10px; *padding-left:8px;}


/*top logo header*/
#logo_header {
  padding-top:10px; padding-bottom:10px;
}

#top_etipitaka{
  margin:10px 0;	
}

/*form etipitaka*/
#searchForm{
  /* The search form. */
  background-color:#4C5A65;
  padding:10px 10px 10px;
  margin:0;
  position:relative;

  -moz-border-radius:16px;
  -webkit-border-radius:16px;
  border-radius:16px;
}

fieldset{
  border:none;
}

#s{
  /* The search text box. */

  border:none;
  color:#888888;
  background:url("../images/searchBox370.png") no-repeat;

  float:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:15px;
  height:36px;
  line-height:36px;
  margin-right:12px;
  outline:medium none;
  padding:0 0 0 35px;
  text-shadow:1px 1px 0 white;
  width:370px;
  -webkit-appearance: none;

}

#sfund{
  /* The search text box. */

  border:1px solid #666;
  color:#888888;
  float:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:15px;
  height:25px;
  line-height:25px;
  margin-right:12px;
  outline:medium none;
  padding:0 0 0 10px;
  text-shadow:1px 1px 0 white;
  width:200px;
}

/* The submit button */


#submitButton{
  background:url('../../images/buttons.png') no-repeat;
  width:83px;
  height:36px;
  text-indent:-9999px;
  overflow:hidden;
  text-transform:uppercase;
  border:none;
  cursor:pointer;
}

#submitButton:hover{
  background-position:left bottom;
}


/*Search the Web radio buttons */


#searchInContainer{
  margin-top:12px;
  width:430px;
}

label{
  color:#DDDDDD;
  cursor:pointer;
  font-size:12px;
  position:relative;
  right:-2px;
  top:-2px;
  margin-right:10px;
  white-space:nowrap;
  /*float:left;*/
}

input[type=radio]{
  cursor:pointer;
  /*float:left;*/
}

/*menu*/
#menu-header{
  width: 80%;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 15px;
}

ul#menu{
  list-style-type:none;
  width:100%;
  position:relative;
  height:27px;
  font-family:Arial,Helvetica,sans-serif;
  font-size:13px;
  font-weight:bold;
  margin:0;
  padding-top: 11px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
ul#menu li{display:block;float:left;margin:0 0 0 4px;height:27px;}
ul#menu li.left{margin:0;}
ul#menu li a{display:block;float:left;color:#fff;background:#c7b57e;line-height:27px;text-decoration:none;padding:0 17px 0 18px;height:27px;}
ul#menu li a.right{padding-right:19px;}
ul#menu li a:hover{background:#2E4560;}
ul#menu li a.current{color:#2E4560;background:#fff;}
ul#menu li a.current:hover{color:#2E4560;background:#fff;}
ul#menu li a.faq{color:#fff;background:#2E4560;}
/*Body*/
#mediaplayer {
}

/*title*/

.right_title{
  height:35px;
  width:290px;
  color:#000;
  font-size:16px;
  line-height:35px;
  padding-left:10px;
  background-image: url(../images/right_title.png);
  background-repeat: no-repeat;
}


.right_title.green{color:#fff; background:url() no-repeat;}

.left_title{color:#000; font-size:16px;}
.left_content_title{
  width:670px;
  height:35px;
  line-height:35px;
  /*background-image: url();*/
  background-repeat: no-repeat;
}

.left_content_title2{
  width:650px;
  height:35px;
  line-height:35px;
  /*background-image: url();*/
  background-repeat: no-repeat;
  padding:0 10px;
}

.left_content_middle{
  width:668px;
  background:#FFF;
  border-right-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-left-style: solid;
  border-right-color: #e6e6e6;
  border-left-color: #e6e6e6;

}
.left_section_title{width:658px; height:20px; padding-top:5px;  padding-left:10px; padding-bottom:5px; margin-top:10px; margin-bottom:10px; color:#000; font-size:18px; background-color:#56a6d7;}
.left_section_title_live{width:658px; height:30px; padding-top:10px;  padding-left:10px; padding-bottom:10px; margin-top:10px; margin-bottom:10px; color:#000; font-size:18px; background-color:#fff;}

.left_section_title .des{color:#fff; font-size:16px;}
.left_section_title_live .des{color:#CCC; font-size:16px;}
.left_section_title .des_amt{color:#999; font-size:11px; padding-top:4px;}

.right_content_middle{
  width:260px;
  background:#fff;
  padding:10px;
  border: 1px solid #CCC;
}

.right_content_middle2{
  width:298px;
  background:#fff;
  border-right-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-left-style: solid;
  border-right-color: #CCC;
  border-left-color: #CCC;

}

/*paging*/

.paging-box{height:25px; padding-right:10px; font-size:16px;}
.paging-box a {
  color: #FF9;
  text-decoration: none;
}
.paging{height:25px;}
.paging ul{ list-style-type:none; margin:0; padding:0;}
.paging ul li{display:block; float:left; margin-right:5px;}
.paging ul li .paging-btn{
  font-size:10px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius:40px;
  width:15px; height:15px; 
  background:#f8f8f8;
  text-align:center;
  line-height:15px;
  border:1px #ccc solid;
  cursor:pointer;
  color:#999;
}

.paging ul li .paging-btn:hover{
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius:40px;
  width:15px; height:15px;
  color:#999;
  background:#000;
  cursor:pointer;
  border:1px #000 solid;
}

.paging ul li .active{
  -moz-border-radius:inset 40px;
  -webkit-border-radius:inset 40px;
  border-radius:40px;
  width:15px; height:15px;
  color:#000;
}

.paging ul li a.active {
  color:#000;
  background:f8f8f8;
}
.paging ul li a.active:hover{
  color:#fff;
  background:f8f8f8;
}



.paging ul li .np{
  -moz-border-radius:inset 40px;
  -webkit-border-radius:inset 40px;
  border-radius:40px;
  width:15px; 
  height:15px;
  background:#999;
  color:#fff;
  border:1px #ccc solid;
}

.paging ul li a.np {

  color:#fff;
  background:#999;
  -moz-border-radius:inset 40px;
  -webkit-border-radius:inset 40px;
  border-radius:40px;
}

.paging ul li a..np:hover{
  background:#000;
  color:#fff;
  -moz-border-radius:inset 40px;
  -webkit-border-radius:inset 40px;
  border-radius:40px;
  border:1px #000 solid;
}
.pg_amt{width:50px; height:16px;  font-size:11px; text-align:center; line-height:16px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;

        color: #999;
        border: solid 1px #e6e6e6;
        background: #fff;

}


/*otherthumb128x128*/


.other_display_box{
  width:658px;
  padding-left:8px;
  padding-top:8px;
}
/*
.other_display_box ul{list-style-type:none; margin:0; padding:0;}
.other_display_box ul li{
   padding-bottom:13px;
   display:block;
   float:left;
   width:130px;
   !padding-bottom:5px;
}
*/
.other_thumb_img{width:128px; height:175px; position:relative; z-index:110; z-index:110\0/;  }
.other_thumb_img img{width:128px; height:175px;}
.other_name{width:128px; color:#666; font-size:11px; padding-left:0px; padding-top:2px;}
.other_name a{color:#666; font-size:11px;}
.other_name a:hover{color:#000;}
.other_name span{color:#666; font-weight:bold; font-size:11px;}
.other_name span a{color:#666;}
.other_name span a:hover{
  color:#000;
  text-align: center;
}

.other_name2{width:128px; color:#fff; font-size:11px; padding-left:1px; padding-top:131px;}
.other_name2 a{color:#fff; font-size:11px;}
.other_name2 a:hover{color:#000;}
.other_name2 span{color:#fff; font-weight:bold; font-size:11px;}
.other_name2 span a{color:#fff;}
.other_name2 span a:hover{color:#000;}

.info_left{width:130px;}


/*seealllink*/

.seealllink{width:280px; height: 35px;  font-size:14px; text-align:center; line-height:35px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;

            color: #999;
            border: solid 1px #e6e6e6;
            background: #eee;
            background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
            background: -moz-linear-gradient(top,  #fff,  #eee);
}


.seealllink a{width:280px; height:35px; color:#804040; font-size:14px; text-align:center; line-height:35px;text-decoration:none; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; cursor:pointer;
}


.seealllink:hover a{width:280px; height:35px; color:#000; font-size:14px; text-align:center; line-height:35px;cursor:pointer;

}

/*seealllink*/

.seealllinkgreen{width:280px; height: 35px;  font-size:14px; text-align:center; line-height:35px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;

                 color: #fff;
                 border: solid 1px #e6e6e6;
                 background: #990;
                 background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#990));
                 background: -moz-linear-gradient(top,  #fff,  #990);
}


.seealllinkgreen a{width:280px; height:35px; color:#804040; font-size:14px; text-align:center; line-height:35px;text-decoration:none; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; cursor:pointer;
}


.seealllinkgreen:hover a{width:280px; height:35px; color:#000; font-size:14px; text-align:center; line-height:35px;cursor:pointer;

}

/*seeall*/

.seeall{width:280px; height: 35px;  font-size:14px; text-align:center; line-height:35px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;

        color: #999;
        border: solid 1px #e6e6e6;
        background: #eee;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
        background: -moz-linear-gradient(top,  #fff,  #eee);
}

.seeall a{width:280px; height:35px; color:#999; font-size:14px; text-align:center; line-height:35px;text-decoration:none; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; cursor:pointer;
}


.seeall:hover a{width:280px; height:35px; color:#000; font-size:14px; text-align:center; line-height:35px;cursor:pointer;

}
#socialbutton {
  padding: 5px;
}
#footer {
  padding-top:0px;
  padding-bottom:0px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 980px;
  background-color: #FFF;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.sq_display_box{width:658px; padding-left:10px;}
.sq_display_box ul{list-style-type:none; margin:0; padding:0;}
.sq_display_box ul li{
  padding-bottom:15px;
  display:block;
  float:left;
  width:130px;
  _padding-bottom:10px;
}

.sq_thumb_img{width:128px; height:128px; position:relative; z-index:110; z-index:110\0/;  }
.sq_thumb_img img{width:128px; height:128px;}
.sq_name{width:128px; height:65px; color:#666; font-size:11px; padding-left:1px; padding-top:2px;}
.sq_name a{color:#666; font-size:11px;}
.sq_name a:hover{color:#000;}
.sq_name span{color:#666; font-weight:bold; font-size:11px;}
.sq_name span a{color:#666;}
.sq_name span a:hover{color:#000;}

.sq_name2{width:128px; color:#fff; font-size:11px; padding-left:1px;   padding-top:131px;}
.sq_name2 a{color:#fff; font-size:11px;}
.sq_name2 a:hover{color:#000;}
.sq_name2 span{color:#fff; font-weight:bold; font-size:11px;}
.sq_name2 span a{color:#fff;}
.sq_name2 span a:hover{color:#000;}


.mp_display_box{width:658px; padding-left:10px;}
.mp_display_box ul{list-style-type:none; margin:0; padding:0;}
.mp_display_box ul li{
  padding-bottom:15px;
  display:block;
  float:left;
  width:130px;
  _padding-bottom:10px;
}



.mp_thumb_img{width:128px; height:175px; position:relative; z-index:210; z-index:210\0/;  }
.mp_thumb_img img{width:128px; height:175px;}
.mp_name{width:128px; height:38px; color:#666; font-size:11px; padding-left:1px; padding-top:2px;}
.mp_name a{color:#666; font-size:11px;}
.mp_name a:hover{color:#000;}
.mp_name span{color:#666; font-weight:bold; font-size:11px;}
.mp_name span a{color:#666;}
.mp_name span a:hover{color:#000;}
/*square thumb*/


ul.columns {

  list-style: none;
  margin: 0 auto; padding: 0;
}
ul.columns li {
  width: 128px;
  float: left; display: inline;
  margin: 0; padding: 0;
  position: relative;

}
ul.columns li:hover {z-index:1500;}

/*--Thumbnail Styles--*/

ul.columns li .hoverimg{
  position: relative;
  width:128px;
  filter: alpha(opacity=100);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}
ul.columns li:hover .hoverimg{
  z-index:1500;
  filter: alpha(opacity=100);
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

}


.dl_icn{
  width:30px;
  height:25px;
  position:absolute;
  z-index:1600;
  top: 1px;
  display:block;
  left: 1px;
}

.dl_icn img{
  width:30px;
  height:25px;

}


.song_icn{
  width:35px;
  height:35px;
  position:absolute;
  z-index:1600;
  right:0;
  bottom:0;
  background-image: url(../images/song_icn.png);
  background-repeat: no-repeat;
  display:block;
}

/*----View Catagory*/
#album_detail_list ul li{list-style-type:none;}

.info_img{
  padding: 15px;
}
.info_detail{
  padding: 15px;
}
.album_detail_title{font-size:10pt; padding-top:10px; padding-right:5px;}
.album_detail_btn2{height:25px; padding-top:10px; padding-right:5px;}

.mp3dl_btn {width:50px; height:15px;  font-size:12px; text-align:center; line-height:15px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;

            color: #999;
            border: solid 1px #e6e6e6;
            background: #eee;
            background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
            background: -moz-linear-gradient(top,  #fff,  #eee);
            cursor:pointer;
}


.mp3dl_btn a{width:50px; height:15px; color:#999; font-size:12px; text-align:center; line-height:15px;text-decoration:none; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; cursor:pointer;
}


.mp3dl_btn:hover {width:50px; height:15px; color:#000; font-size:11px; text-align:center; line-height:15px;cursor:pointer;

}

/*btn_show*/

.btn_show{width:55px; height:25px; padding:5px 10px 5px 5px;}
.btn_show ul{ list-style-type:none; margin:0; padding:0;}

.btn_show ul li{display:block; float:left;}
.btn_show ul li span{display:none;}

.btn_show .display_thumb a{width:27px; height:25px; display:block; background:url(../images/btn_thumb_show.png) no-repeat;}
.btn_show .display_thumb a:hover{width:27px; height:25px; display:block; background:url(../images/btn_thumb_show_o.png) no-repeat;}
.btn_show .display_thumb_active{width:27px; height:25px; display:block;  background:url(../images/btn_thumb_show_o.png) no-repeat;}

.btn_show .display_list a{width:28px; height:25px; display:block; background:url(../images/btn_list_show.png) no-repeat;}
.btn_show .display_list a:hover{width:28px; height:25px; display:block; background:url(../images/btn_list_show_o.png) no-repeat;}
.btn_show .display_list_active{width:28px; height:25px; display:block; background:url(../images/btn_list_show_o.png) no-repeat;}


/*content_cat*/
.content_cat{height:33px; padding:1px 0;}
.content_cat ul{ list-style-type:none; margin:0; padding:0;}
.content_cat ul li{display:block; float:left; height:33px; text-align:center; color:#666; font-weight:bold; line-height:33px;}
.content_cat ul li a{color:#666; font-weight:bold; padding:0 15px; *padding:0 10px; }
.content_cat ul li a:hover{color:#000; font-weight:bold; }
.content_cat .menu_active{ height:33px; color:#666; font-weight:bold; display:inline-block;background:url(../images/menu_bg.png) repeat; color:#fff; padding:0 15px; *padding:0 5px;}

/*category*/

.category{width:120px; padding-top:7px; padding-right:5px;}
.cat{width:120px;}

/*category2*/

.category2{width:120px; padding-top:5px; padding-right:5px;}
.cat{width:120px;}

/*thumb128x128*/

/*-----Stream---------*/
#stream_online {
  height: 385px;
  width: 650px;
}

#stream_online_live {
  height: 700px;
  width: 960px;
}

/*Gallery*/
#gallery-header {
  width: 940px;
  height: 35px;
  background-color: #2E4560;
  color : #ffffff;
  text-align: left;
  line-height: 35px;
  font-size: 16px;
  text-indent: 15px;
  margin:18px;
}
#gallerya {
  border: 1px solid #ccc; margin: 18px auto; width: 940px; background: #efeeec;
}
#galleryt {
  border: 1px solid #ccc; margin: 18px auto; width: 904px; background: #efeeec; padding: 18px;
}
#galleryta {
  border: 1px solid #ccc; margin: 18px auto; width: 904px; background: #ffffff; padding: 18px;
}

#upload {
  border: 1px solid #ccc; margin: 10px auto; width: 540px; padding: 10px;
}
#blank_gallery {
  font-family: Arial; font-size: 18px; font-weight: bold;
  text-align: center;
}
.thumb {
  float: left;
  width: 186px;
  height: 216px;
  padding: 12px;
  margin: 12px;
  background-color: #fff;
}
.thumb:hover {
  outline: 1px solid #999;
}
img {
  border: 0;
}
#gallery:after {
  content: "."; visibility: hidden; display: block; clear: both; height: 0; font-size: 0;
}

#fund_display_box{
  width:658px;
  padding-left:8px;
  padding-top:8px;
  font-size: 12pt;
}

.ShareLeft {
  float: left;
  width: 213px;
  padding-top: 5px;
}

.SocialShare {
  float: left;
}

#right-content div {
  text-align: center;
}
#right-content p a {
  text-align: center;
}


/*youtube*/
.yt_display_box{width:658px; padding-left:10px;}
.yt_display_box ul{list-style-type:none; margin:0; padding:0;}
.yt_display_box ul li{
  padding-bottom:5px;
  display:block;
  float:left;
  width:210px;
  padding-right:9px;
}



.yt_thumb_img{width:210px; position:relative; z-index:200; z-index:200\0/;  }
.yt_thumb_img img{width:210px; }


.browse-item-content{margin-top:8px;overflow:hidden}
.browse-item-info{display:block;color:#666;font-size:11px}
.browse-item-content h3{margin:0;height:20px;font-size:12px;font-weight:bold}
.viewcount{float:right;color:#888;font-weight:normal}

/*Modal*/
#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

div.specialevent {
  padding-top:10px;
  padding-bottom:10px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 980px;
  background-color: #FFF;
  min-height: 525px;
}

.specialevent_wraper {
  margin: 10px;
}

.news_inner {
  overflow-x: auto;
  overflow-y: scroll;
  height: 400px;
}

.stream_online {
  min-height: 427px;
}

#mediastream {
  width: 640px;
  height: 360px;
}

.addthis_toolbox {
  min-height: 20px;
}
