div.hide {
    display: none
}

img#logo {
	margin-left: 1em;
}
div#social {
	text-align: right;
    margin-right: 1em;
}
div#slider {
    margin-left: auto;
    margin-right: auto;
}

div.stream_online {
	margin: 1em;
	height: 600px;
}

div#youtubestream {
    height: 360px;
    margin: 1em;
}


div#newsbox {
	margin: 1em;
}

div#news_container {
	height: 30em;
	overflow-y: scroll;
	margin-top: 1em;
}

h2 {
	color: #FFD390;
	background: #0078E7;
	font-size: 100%;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: normal;
}

img.newspic {
	margin: 1em;
}

div#calbox {
	margin: 1em;
}

div#mapbox {
	margin: 1em;
}

div.videobox {
	margin: 1em;
}

img.videoThumbnail {
	width: 100%;
}

li.colItem {
	width: 15em;
	height: 15em;
	list-style: none;
	float: left;
	display: inline;
	margin: 1em;
	padding: 0;
	position: relative;

}

div.bookbox {
	margin: 1em;
}

div.audioBox {
	margin: 1em;
}

.clear {
  clear:both;
}

div#footer {
	text-align: center;
}

img#footer {
	margin-top: 5em;
	margin-left:auto;
	margin-right:auto;
	max-width: 922px;
	width: 100%;
	height: auto;
				   
}

.rightButton {
	width: 280px;
	height: auto;
	white-space: normal;
}

#downloadBox {
	margin: 1em;
}

img.download {
	width: 120px;
}

div#contactBox {
	margin: 1em;
}

div.videoBox {
	margin: 1em;
}

div#etipitaka {
	margin: 1em;
}

@media only screen and (max-width: 1024px) {
	.lg-hide { 
		display:none;
	}
}

table.album tr td {
	padding: 0.3em;
}

table.album {
	margin: 1em;
}

.radioBox {
	margin: 1em;
	height: 37em;
}

#radioPanel {
	margin: 0.5em auto 0 auto;
	display: block;
}

div#stats {	
	margin: 0.5em auto 0 auto;
	display: none;
	text-align: center;
}

div#live {
	margin: 1em;
}

#mediastream {
    height: 400px;
}
