/*print*/
.digg-panel{ border-bottom:1px solid #CCDCEF; min-height:100px; width:450px; margin-bottom:10px;}

.digg-panel .buttons a{ margin-top:10px;}

.digg-panel .buttons .btn-print{ display:block; background:url(../images/print.png) top center no-repeat; height:38px; width:67px; float:right;}

.digg-panel .buttons .btn-unprint{ display:block; background:url(../images/printing.png) top center no-repeat; height:38px; width:103px; float:right;}